---
---

@import "{{ site.theme }}";
.page-header {
    background-color: #9390c3;
    background-image: url("assets/img/worldmap.jpg");
    background-size:cover;
    background-repeat: no-repeat;
  }