---
---

@import "{{ site.theme }}";
.page-header {
    color: $header-heading-color;
    text-align: center;
    background-color: $header-bg-color;
    background-image: url("assets/img/worldmap.jpg");
  
    @include large {
      padding: 5rem 6rem;
    }
  
    @include medium {
      padding: 3rem 4rem;
    }
  
    @include small {
      padding: 2rem 1rem;
    }
  
  }